<%-include('includes/head', {pageTitle : 'An error occured'}) %>
    

</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>You are not Authorised as an Admin</h1>

        <p>
            Wait, what are you looking for in the adminstration area man
        </p>
        <p>
            <a class="btn" href="/">Back to safety</a>
        </p>
        
    </main>

<%-include('includes/footer') %>