<%- include('../../shared/includes/head', { pageTitle: 'Failure' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order failed</h1>
    <p>please contact shop owner for more details</p>
    <p>visit <a href="/orders">Orders page</a> for more details</p>
  </main>
<%- include('../../shared/includes/footer') %>