<%- include('../../shared/includes/head', { pageTitle: 'success' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order success</h1>
    <p>Thank you for shopping with us</p>
    <p>visit <a href="/orders">Orders page</a> for more details</p>
  </main>
<%- include('../../shared/includes/footer') %>