<%- include('includes/head.ejs', { title: 'profile' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The Profile Page</h1>
    <p>this is the profile you provided when signing up</p>
    <p>Typically, admin pages like this would allow you to create and edit data (e.g. blog posts) 
      or do similar tasks that should not be available to everyone!</p>
  </main>
</body>
</html>